body html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .container {
    display: flex;
} */

.titleColumn {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.titleColumn p{
    margin: 7px;
}

.top-wrapper {
    display: flex;
    /* flex-wrap: wrap; */ 
}

.top-wrapper-button {
    display: flex;
    flex-wrap: wrap;
}

#ourDiv {
    display: flex;
    width: fit-content;
    
}

.bottom-wrapper {
    display: flex;
}

.lower-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.daily-servings {
    margin-left: 8em;

}

#term-days-id {
    margin: 1em;
}

.product-column > input{
    margin: 5px;
    margin-left: 5em;
}



button {
    margin-top: 20px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    /* position: absolute;
    bottom: 1em;
    right: 1em; */ 
  }
  button:hover {
    background: rgb(101, 116, 199);
  }

  